# Permit members of plugdev to use the custom NanoApps SCSI channel for this iPod.
ACTION=="add|change", SUBSYSTEM=="block", ENV{ID_VENDOR_ID}=="05ac", ENV{ID_MODEL_ID}=="1267", GROUP="plugdev", MODE="0660"
ACTION=="add|change", SUBSYSTEM=="scsi_generic", ATTRS{idVendor}=="05ac", ATTRS{idProduct}=="1267", GROUP="plugdev", MODE="0660"
