<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>	<string>org.ipodspotify.commstest</string>
	<key>CFBundleName</key>		<string>Pi Link Test</string>
	<key>CFBundleExecutable</key>	<string>comms_test</string>
	<key>HBAppKind</key>			<integer>1</integer>
	<key>HBIconGlyph</key>		<string>link</string>
	<key>HBIconColor</key>		<string>#1DB954</string>
</dict>
</plist>
